<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tournament Turkey</title>

    <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
  <script src="js/teams.js"></script>

</head>


<body>



  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" r href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="teams.html">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rankings.html">Rankings</a>
        </li>

      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <div id="particles-js">
      <h1 class="display-4">Tournament Turkey</h1>
      <h2>March Madness Edition</h2>
      <p class="lead">What did the turkey say to the computer? Google, google, google</p>
    </div>
  </div>
  </div>




  <br>


  <div class="icon-container">
    <div class="row">
      <div class="col-sm-1">
        <li class="media">
          <a href="/api/rosters/Duke"><img src="images/dukelogo.png" class="mr-3" data="duke" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/ND State"><img src="images/northdakotastatelogo.png" class="mr-3" data="ndsu" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/UCF"><img src="images/ucflogo.png" class="mr-3" data="ucf" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/VCU"><img src="images/vculogo.png" class="mr-3" data="vcu" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Mississippi State"><img src="images/mississippilogo.png" class="mr-3" data="miss" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>

      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Liberty"><img src="images/libertylogo.png" class="mr-3" data="liberty" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Virginia Tech"><img src="images/virginiastatelogo.png" class="mr-3" data="vt" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Saint Louis"><img src="images/saintlouislogo.png" class="mr-3" data="louis" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Maryland"><img src="images/marylandlogo.png" class="mr-3" data="maryland" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Belmont"><img src="images/belmontlogo.png" class="mr-3" data="belmont" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Michigan State"><img src="images/michiganstatelogo.png" class="mr-3" data="mich" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/LSU"><img src="images/lsulogo.png" class="mr-3" data="lsu" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>


    </div>

    <br>

    <div class="row">
      <div class="col-sm-1">
        <li class="media">
          <a href="/api/rosters/Yale"><img src="images/yalelogo.png" class="mr-3" data="yale" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Louisville"><img src="images/louisvillelogo.png" class="mr-3" data="louisville" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Minnesota"><img src="images/minnesotalogo.png" class="mr-3" data="minnesota" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Bradley"><img src="images/bradleylogo.png" class="mr-3" data="bradley" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Virginia"><img src="images/virginialogo.png" class="mr-3" data="virginia" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Gardener-Webb"><img src="images/g-webblogo.png" class="mr-3" data="gardner" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Ole Miss"><img src="images/olemisslogo.png" class="mr-3" data="olemiss" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Oklahoma"><img src="images/oklahomalogo.png" class="mr-3" data="oklahoma" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Oregon"><img src="images/oregonlogo.png" class="mr-3" data="oregon" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Kansas"><img src="images/kansaslogo.png" class="mr-3" data="kansasstate" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/UC Irvine"><img src="images/ucirvinelogo.png" class="mr-3" data="ucirvine" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Purdue"><img src="images/purduelogo.png" class="mr-3" data="purdue" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>





    </div>

    <br>

    <div class="row">
      <div class="col-sm-1">
        <li class="media">
          <a href="/api/rosters/Villanova"><img src="images/villanovalogo.png" class="mr-3" data="villanova" height="50"
              width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Saint Mary's"><img src="images/saintmaryslogo.png" class="mr-3" data="stmarys" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Old Dominion"><img src="images/olddominionlogo.png" class="mr-3" data="odu" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Cincinnati"><img src="images/cincinnatilogo.png" class="mr-3" data="cincinatti" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Iowa"><img src="images/iowalogo.png" class="mr-3" data="iowa" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Colgate"><img src="images/colgatelogo.png" class="mr-3" data="colgate" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Gonzaga"><img src="images/gonzagalogo.png" class="mr-3" data="gonzaga" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Fairleigh Dickinson"><img src="images/f.dickinsonlogo.png" class="mr-3" data="fairleigh" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Baylor"><img src="images/baylorlogo.png" class="mr-3" data="baylor" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Florida State"><img src="images/floridastatelogo.png" class="mr-3" data="floridastate" height="50"
              width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Marquette"><img src="images/marquettelogo.png" class="mr-3" data="marquette" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Murray State"><img src="images/murraystatelogo.png" class="mr-3" data="murray" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>





    </div>

    <br>

    <div class="row">
      <div class="col-sm-1">
        <li class="media">
          <a href="/api/rosters/Vermont"><img src="images/vermontlogo.png" class="mr-3" data="vermont" height="50"
              width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Syracuse"><img src="images/syracuselogo.png" class="mr-3" data="syracuse" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Buffalo"><img src="images/buffalologo.png" class="mr-3" data="buffalo" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Arizona State"><img src="images/arizonastatelogo.png" class="mr-3" data="arizona" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Northern Kentucky"><img src="images/northernkentuckylogo.png" class="mr-3" data="northernkentucky" height="50"
              width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Michigan"><img src="images/michiganlogo.png" class="mr-3" data="michigan" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Nevada"><img src="images/nevadalogo.png" class="mr-3" data="nevada" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Florida"><img src="images/floridalogo.png" class="mr-3" data="florida" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Montana"><img src="images/montanalogo.png" class="mr-3" data="montana" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/UNC"><img src="images/northcarolinalogo.png" class="mr-3" data="northcarolina" height="50"
              width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Washington"><img src="images/washingtonlogo.png" class="mr-3" data="washington" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Iona"><img src="images/ionalogo.png" class="mr-3" data="iona" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>





    </div>
    <br>

    <div class="row">
      <div class="col-sm-1">
        <li class="media">
          <a href="/api/rosters/Utah State"><img src="images/utahstatelogo.png" class="mr-3" data="utahstate" height="50"
              width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Auburn"><img src="images/auburnlogo.png" class="mr-3" data="auburn" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/NM State"><img src="images/newmexicostatelogo.png" class="mr-3" data="newmexicostate" height="50"
              width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Kansas State"><img src="images/kansasstatelogo.png" class="mr-3" data="kansasstate" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Northeastern"><img src="images/northeasternlogo.png" class="mr-3" data="northeastern" height="50"
              width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Iowa State"><img src="images/iowastatelogo.png" class="mr-3" data="iowastate" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Ohio State"><img src="images/ohiostatelogo.png" class="mr-3" data="ohiostate" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Kentucky"><img src="images/kentuckylogo.png" class="mr-3" data="kentucky" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Houston"><img src="images/houstonlogo.png" class="mr-3" data="houston" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Georgia State"><img src="images/georgiastatelogo.png" class="mr-3" data="georgiastate" height="50"
              width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Senton Hall"><img src="images/setonhalllogo.png" class="mr-3" data="setonhall" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Abilene Christian"><img src="images/abilenechr.logo.png" class="mr-3" data="abilene" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>





    </div>

    <br>

    <div class="row">
      <div class="col-sm-1">
        <li class="media">
          <a href="/api/rosters/Wofford"><img src="images/woffordlogo.png" class="mr-3" data="wofford" height="50"
              width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/VCU"><img src="images/vculogo.png" class="mr-3" data="prarieview" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Tennessee"><img src="images/utenlogo.png" class="mr-3" data="temple" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Colorado"><img src="images/coloradologo.png" class="mr-3" data="stjohns" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>
      <div class="col-sm-1">
        <li class="media">
          <a href = "/api/rosters/Colorado State"><img src="images/csulogo.png" class="mr-3" data="nccentral" height="50" width="50"></a>
          <div class="media-body"></div>
        </li>
      </div>

    </div>





  </div>






  <!-- Custom Script -->

<canvas class="background"></canvas>
<script src="path/to/particles.min.js"></script> 
</body>

</html>