.jumbotron{
  text-align: center !important;
  
}

#particles-js {
  background: cornflowerblue;
}

.card-group{
  text-align: center;
}

.tableHeader {
  text-align: center;
}

.rankHeader {
  text-align: center;
}

.teamImg {
  width: 30px;
  height: 30px;
}