.jumbotron {
  text-align: center !important;

}


.card-group {
  text-align: center;
}

.tableHeader {
  text-align: center;
}

.rankHeader {
  text-align: center;
}

.teamImg {
  width: 30px;
  height: 30px;
}

.icon-container {
  background-color: rgb(252, 252, 252, 1);
}

html,
body {
  height: 100%
}

body {
  background-color: #f9f9f9;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.1);
}

.background {
  position: absolute;
  top: 0;
  bottom: 50;
  left: 0;
  right: 0;
  z-index: -1;
}